<div class="content" fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <div class="form-container">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" >
      <mat-form-field>
        <input matInput placeholder="Placa" [(ngModel)]="parametrosConsulta.placa">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Renavam" [(ngModel)]="parametrosConsulta.renavam">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" >
      <button color="primary" mat-raised-button (click)="getVeiculo(parametrosConsulta)">CONSULTAR</button>
      <button mat-raised-button (click)="limpar()">LIMPAR</button>
    </div>
  </div>
  <div *ngIf="veiculoNaoEncontrado!=null">
    <br><mat-divider></mat-divider><br>
    <div fxLayout="row" fxLayoutAlign="space-around center" >
      <span>{{veiculoNaoEncontrado}}</span>
    </div>
  </div>
  <div *ngIf="veiculo!=null">
    <br><mat-divider></mat-divider><br>
    <span></span>
    <div fxLayout="column" fxLayoutAlign="space-around center" >
      <span>Marca/Modelo: {{veiculo.marcaModelo}}</span>
      <span>Município: {{veiculo.municipio}}</span>
      <span>Ano da Fabricação: {{veiculo.anoFabricacao}}</span>
      <span>Ano do Modelo: {{veiculo.anoModelo}}</span>
      <br>
      <table mat-table [dataSource]="debitosDoVeiculo" class="mat-elevation-z8">
        <ng-container matColumnDef="Exercício">
          <th mat-header-cell *matHeaderCellDef>Exercício</th>
          <td mat-cell *matCellDef="let element"> {{element.exercicio}} </td>
        </ng-container>
        <ng-container matColumnDef="Parcela">
          <th mat-header-cell *matHeaderCellDef>Parcela</th>
          <td mat-cell *matCellDef="let element"> {{element.parcela}} </td>
        </ng-container>
        <ng-container matColumnDef="Valor">
          <th mat-header-cell *matHeaderCellDef>Valor</th>
          <td mat-cell *matCellDef="let element"> {{element.vlrPrincipal}} </td>
        </ng-container>
        <ng-container matColumnDef="Situação">
          <th mat-header-cell *matHeaderCellDef>Situação</th>
          <td mat-cell *matCellDef="let element"> {{element.situacao}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
