<div class="content" fxLayout="column" fxLayoutAlign="space-around">
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
      <div class="primaryColorBG home-grid-tile" (click)="consulta()">
        <mat-icon>directions_car</mat-icon>
        <span>Consulta</span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="primaryColorBG home-grid-tile" (click)="boleto()">
        <mat-icon>directions_car</mat-icon>
        <span>Boleto</span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="primaryColorBG home-grid-tile" (click)="consulta()">
        <mat-icon>directions_car</mat-icon>
        <span>Consulta</span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="primaryColorBG home-grid-tile" (click)="boleto()">
        <mat-icon>directions_car</mat-icon>
        <span>Boleto</span>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
